.table-row-cell {
}

/*.table-row-cell:filled:focus {
	-fx-font-weight: bold;
}*/

.table-row-cell:increase-price{
	-fx-background: #76C778;
}


.table-row-cell:decrease-price {
	-fx-background: #EAA471;
}